/*CSS reset settings here*/

  /*width: 180px;
        margin:10px;
        padding:20px;
        font-size: 14px;
        background: #eee;
        display: inline-block;*/
		
*{
	 margin: 0px;
	 padding: 0px;
}
#wrapper{
	 width: 700px;
	 overflow:hidden;
	 height:455px;
	 background-color: silver;
	 margin: 0px;
}
#header{
	 height: 120px;
	 margin:10px;
	 background-color: green;
}
#navigation{
	 height: 230px;
	 width: 145px;
	 margin:10px;
	 background-color: blue;
}
#main_content{
	 height: 300px;
	 width: 510px;
	 position: absolute; left: 180px; top:140px;
	 background-color: red;
}
.subcontents{
	 height: 150px;
	 width: 150px;
	 position: absolute; left: 12px; top:12px;
	 background-color: yellow;}
.subcontents2{
	height: 150px;
	width: 150px;
	position: absolute;
	left: 339px;
	top: 13px;
	background-color: yellow;
}
.subcontents3{
	height: 150px;
	width: 150px;
	position: absolute;
	left: 176px;
	top: 13px;
	background-color: yellow;
}
	 
#advertisement{
	 height: 85px;
	 width: 477px;
	 position: absolute;left:12px; Bottom: 220px; top:180px;
	 background-color: purple;
	}
